* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #00baf2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 2px 2px 0 2px;
    padding-top: 40px;
}

#shade {
    background-color: #0F4A8A;
    margin: 0 2px 2px 2px;
}

.parent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 2px solid black; */
}

.parent>h1 {
    color: white;
    font-family: sans-serif;
}

.child {

    display: flex;
    gap: 10px;
}

.box {

    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
    padding-right: 50px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 8px;
}

.child>.box>img {
    width: 6vw;
}

.child>.box>h4 {
    font-family: sans-serif;
    color: white;
    margin: 2px;
    width: 80px;

}

@media all and (min-width: 330px) and (max-width: 768px) {
    .container {
        padding: 10px;
        margin: 0;
    }

    .parent {
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    .parent>h1 {
        font-size: 20px;
    }

    .child {
        /* border: 2px solid black; */
        overflow: auto;
        padding-bottom: 20px;
    }

    .child>.box {
        /* border: 2px solid red; */
        padding: 15px;
        box-shadow: none;
        border: 1px solid rgb(236, 212, 212);
    }

    .child>.box>img {
        width: 100%;
    }

    .child>.box>h4 {
        font-size: 15px;
        margin: 0;
    }
}


::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #21caf985;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  /* This example creates a scrollbar with box shadow:
  
  Example */
  /* width */
  ::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(9, 15, 129, 0.4);
    border-radius: 10px;
  }