@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.grand{
    text-align: center;
  
}


*{
    margin: 0;
    padding: 0;
}

.up, .down {
    display: flex;
    width: 98vw;
    justify-content: center;
    /* max-width: 900px; */
    margin: auto;
}

.card{
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: whitesmoke;
    border: 0.5px solid rgb(199, 199, 199);
    margin: 6px;
    justify-content: center;
    gap: 10px;
}


img {
    width: 100%;
    height: 300px;
}

div h2 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
}

div p {
    text-align: center;
    margin-top: -15px;
    font-size: 21px;
}

div button {
    padding: 5px 10px 5px 10px;
    background-color: turquoise;
    border: transparent;
    font-size: 17px;
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
}

.grand2{
    text-align: center;
}
.cards{
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 12px;
    justify-content: center;
    
}

@media all and (min-width:320px) and (max-width:767px){
        .up, .down{
            display: flex;
            flex-direction: column;
            align-items: center;
        }   
        .up > .card, .down > .card{
            width: 250px;
        }
        .cards{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            /* place-items: center; */
            gap: 1px;
            width: fit-content;
            margin: auto;

        }

        .card{
            margin: 0;
            border: none;
            width: 100%;
        }
        .cards > .card > img{
            height: 200px;
        }
        .cards > .card > h2{
           font-size: 20px;
        }
        .cards > .card > p{
            font-size: 15px;
    
        }
        .cards > .card > button{
            font-size: 15px;
        }
}