* {
    margin: 0;
    padding: 0;
    ;
}

.grand {
    background-color: #f5f8ef;
    margin: auto;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px;
}

.parent {
    padding: 40px;
    display: grid;
    /* grid-template-rows: auto auto; */
    gap: 50px;
    background-color: white;
    justify-content: center;
    border-radius: 12px;
    box-shadow: #a9c539 0px 6px 12px -2px, #d2ff1d 0px 3px 7px -3px;

}



.parent:hover {
    background-color: #596e03;
    transform: scale(1.04);
    transition: ease-in 2s;
    border-radius: 5px;

}

.parent:hover>.child1>h1 {
    color: white;

}

.child1 {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.parent>.child1>h1 {
    font-family: sans-serif;
}

.parent>.child1>p {
    font-family: sans-serif;
    color: rgb(127, 255, 0);
    font-size: x-large;
    font-weight: bolder;
}

.parent>.child2 {
    font-family: sans-serif;
    color: #a7a4a4;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .grand {
        margin: 0;
    }

    .container {
        gap: 10px;
        padding: 0px;
    }

    .parent {
        padding: 15px;
        gap: 20px;
        box-shadow: #a9c539 0px 6px 12px -2px, #d2ff1d 0px 3px 7px -3px;
    }

    .parent>.child1>h1 {
        font-size: 20px;
    }
    .parent>.child1>p {
        font-size: 20px;
        font-weight: bolder;
    }
}


@media all and (min-width: 320px) and (max-width:678px) {
    .grand {
        margin: 0;
    }

    .container {

        grid-template-columns: auto auto;
        gap: 8px;
        padding: 10px;
        max-height: 70dvh;
        overflow: auto;
    }

    .parent {
        padding: 20px;
        gap: 10px;
        border-radius: 0px;
        box-shadow: none;
        border: 1px solid rgba(31, 93, 17, 0.532);
    }
.parent>.child1>h1 {
        font-size: 15px;
        align-self: center;
    }

    .parent>.child1>p {
        font-size: 15px;
        font-weight: bold;
        align-self: center;
    }

    .parent>.child2 {
        font-size: 13px;
        text-align: center;
    }
}