* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}


.section-p1 {
    padding: 40px 80px;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    color: #000;
    background-color: rgb(183, 180, 180);
    border-radius: 4px;
    outline: none;
    padding: 15px 30px;
    transition: 0.3s;
    cursor: pointer;
    border: none;
}
button.white {
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
    outline: none;
    padding: 11px 18px;
    transition: 0.2s;
    cursor: pointer;
    border: 1px solid white;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

/* #header >a > img {
    width: 100%;
} */

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;

}

#navbar>li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar>li>a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3 ease;
}

#navbar>li>a:hover,
#navbar>li>a.active {
    color: #088178;

}

#navbar>li>a.active::after,
#navbar>li>a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}


#hero {
    background-image: url("img/hero4.png");
    height: 60vh;
    /* width: 100%; */
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

#hero>h4 {
    padding-bottom: 15px;
}

#hero>h1 {
    color: #088178;
}

#hero>button {
    background-image: url("img/button1.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 15px;
    margin: 15px 0;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);

}

#feature .fe-box>img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box>h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#feature .fe-box:nth-child(2)>h6 {
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3)>h6 {
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4)>h6 {
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5)>h6 {
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6)>h6 {
    background-color: #fff2e5;
}


#product1 {
    text-align: center;

}

#product1>.pro-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;

}

#product1 .pro {
    width: 20%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);

}

#product1 .pro>img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: center;
    padding: 10px 0;
}

#product1 .pro .des>span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des>h5 {
    color: #1a1a1a;
    padding: 7px;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des>h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .cart {
    width: 40pxh;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}


#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/banner/b2.jpg");
    width: 100%;
    height: 30vh;
    background-position: center;
}

#banner>h4 {
    color: white;
    font-size: 16px;
}

#banner>h2 {
    color: white;
    font-size: 32px;
    padding: 10px 0;
}

#banner>h2>span {
    color: #f91c1c;
}

#banner>button:hover {
    background-color: #088178;
    color: white;
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}

#sm-banner .banner-box {
    background-image: url("img/banner/b17.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* text-align: center; */
    min-width: 580px;
    height: 50vh;
    background-position: center;
    background-size: cover;
    /* border: 1px solid; */
    flex: 1;
    padding: 30PX;
}
#sm-banner .banner-box2{
    background-image: url("img/banner/b10.jpg");
}

#sm-banner .banner-box>h4 {
    color: white;
    font-size: 20px;
    font-weight: 300;

}

#sm-banner .banner-box>h2 {
    color: white;
    font-size: 28px;
    font-weight: 800;
}
#sm-banner .banner-box>span {
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 14PX;
} 

#sm-banner .banner-box:hover >button{
   background-color: #088178;
    border: 1px solid #088178;
}
#banner3 .banner-box {
    background-image: url("img/banner/b7.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 30%;
    height: 30vh;
    background-position: center;
    background-size: cover;
    /* flex: 1; */
    padding: 30PX;
    margin-bottom: 20px;
}
#banner3 .banner-box >h2{
    color: white;
    font-size: 22px;
    font-weight: 900;
}
#banner3 .banner-box >h3{
    color: #ec544e;
    font-size: 15px;
    font-weight: 800;
}