

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 font-family: "Poppins", sans-serif;
 
}

h2{
    font-size: 1.6rem;
    font-weight: 600;
} 

h2 > span{
    color: rgb(26, 173, 26);
    
}

body{
    width: 100%;
}

/* .btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(26, 173, 26);
    border-radius: 5rem;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    max-width: 160px;
    font-weight: 400;
    column-gap: 00.5rem;
}

.btn:hover{
    background-color: orangered;
    transition: 0.2s;
}

.btn >.fa{
    color: rgb(44, 44, 44);
    background-color: white;
    padding: 0.2rem;
    border-radius: 1.2rem;
    font-size: 16px;
    /* margin: auto; 
} */

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.06);
    padding: 20px 80px;
    position: sticky;
    top: 0;
    left: 0;
    transition: 0.5s;
    z-index: 1000;
}
 /* #basket{
display: flex;
font-size: 16px;
cursor: pointer;
} */

#icon{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(44, 44, 44);
    column-gap: 0.5rem;
    font-weight: 500;
    cursor: pointer;
    font-size: 1.1rem;

}

#icon > i{
color:orange
}

#navbar{
    display: flex;
}
#navbar > li{
    list-style: none;
}

#navbar > li>a{
    text-decoration: none;
color: rgb(44, 44, 44);
padding: 10px 20px;
cursor: pointer;
font-size: 1.1rem;
font-weight: 500px;
}

#navbar > li>a:hover,
#navbar>li >.home-active{
    background-color:rgb(26, 173, 26);
    color: white;
    border-radius: 5rem;
    padding: 8px 10px;
    transition: bac;
}

#profile {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.5rem;
}

#profile > img{
width: 50px;
height: 40px; 
border-radius: 50%; 
object-fit: cover;
object-position: center;  
}

#profile > span{
    font-size: 16px;
    font-weight: 500;
}

.container{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 640px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
    background-image: url(img/slider4.jpg);
}

/* .container .slide2{
    background-image: url("img/slider2.jpg");
    background-repeat: no-repeat;
}

.container .slide3{
    background-image: url("img/slider5.avif");
    width: 100%;

} */
.container>.home-text> img{
    width:100%;
    position: absolute;
    bottom: -500px;
    right: 300px;
}

.home-text{
    padding: 0 100px;
    padding-top: 100px;
}

.home-text > span{
    /* margin-top:5100px; */
    color: green;
    text-transform: uppercase;
    font-weight: 400;
}

.home-text > h1{
font-size: 2.5rem;
font-weight: 700;
margin-bottom: 1.2rem;
}

 .btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(26, 173, 26);
    border-radius: 5rem;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    max-width: 160px;
    font-weight: 400;
    column-gap: 00.5rem;

} 

  .btn:hover{
    background-color: orangered;
    transition: 0.2s;
} 

 .btn >.fa{
    color: rgb(44, 44, 44);
    background-color: white;
    padding: 0.2rem;
    border-radius: 1.2rem;
    font-size: 16px;
} 

.swiper-button-next{
    background: url(img/rightarrow.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;

}

.swiper-button-next::after{
    display: none;
}

.swiper-button-prev{
    background: url(img/leftarrow.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;

}

.swiper-button-prev::after{
    display: none;
}

.categories{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 100px;
}

.categories > .heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 968px; */
}

/* .categories > .heading > h2{
    font-size: 1.8rem;
    font-weight: 800;
} */
/* .categories > .heading > h2 > span{
    color: rgb(26, 173, 26);
    
} */
.categories > .hottest{
   
    display: flex;
    gap: 15px;
}

.hottest > .box {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: peachpuff;
    width: 100%;
    padding: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
    border-radius: 0.5rem;
}

.hottest > .box > h2{
    font-size: 1rem;
    font-weight: 600;
}

.hottest > .box > h4{
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.hottest > .bg1{
    background-color: lightgreen;
}

.hottest > .bg2{
    background-color: pink;
}

.hottest > .bg3{
    background-color: rgb(206, 159, 240);
}

.hottest > .bg4{
    background-color: rgb(253, 208, 168);
}
.hottest > .box > img{
    width: 50%;
    height: 50%;
    object-fit: contain;
    object-position: center;
}

.hottest > .box > .fa{
     padding: 10px;
     background: rgb(26, 173, 26);
     color: white;
     border-radius: 5rem;
     margin-top: 2rem;
     position: absolute;
     bottom: -46.5%;
     display: none;
}

.hottest > .box > .fa:hover{
    background: orangered;
    transition: 0.2s all linear;
}
.hottest > .box:hover > .fa{
    display: block;
    transition: 0.2s all linear;

}

.product{
    margin-left: 6.4rem;
    margin-right: 6.4rem;

}


.product > .product-container{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 1.5rem;
    
}

.product > .product-container > .product-box{
    /* border: 5px solid; */
    width: 100%;
    padding: 2rem;
  
    border-radius: 0.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
/* position: relative; */

}

.product > .product-container > .product-box > img{
    width: 100%;
    height: 15rem;
    object-fit: contain;
    object-position: center;
}

.product > .product-container > .product-box > h6{
    font-size: 12px;
     font-weight: 400;
     

}

.product > .product-container > .product-box > h2{
    font-size: 21px;
     font-weight: 600;

}

.product > .product-container > .product-box > h3{
    font-size: 14px;
     font-weight: 600;
     color: orangered;

}

.product > .product-container > .product-box > h3 > span{
    color: rgb(44, 44, 44);
}

.product > .product-container > .product-box >.fa-heart{
    color: red;
    position: relative;
    top: -23rem;
    right: -22rem;

}

.product > .product-container > .product-box >.bx{
    color:white;
    background: rgb(26, 173, 26);
     padding: 0.5rem;
     position: relative;
     right: -94%;
     border-radius: 15% 0%;     
}

.product > .product-container > .product-box >.bx:hover{
    background:orangered;
     transition: 0.2s all linear;
}

.product > .product-container > .product-box >span{
    position: relative;
    top: -23rem;
    left: -33.6rem;
    background: orangered;
    padding: 4px 18px;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
    background: orangered;
    color: white;
}

.aboutus{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 9.4rem;
    margin-right: 6.4rem;
    margin-top: 4rem;
gap: 106px;
}

.aboutus > .para{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
padding: 20px;
}

.aboutus > .para > h2{
    font-size: 16px;
    font-weight: 800;
    color: rgb(26, 173, 26);
    padding: 8px;
}

.aboutus > .para > p{
    font-size: 16px;
    font-weight: 500;
    padding: 8px;
    color: rgb(68, 67, 67);

    
}